@use 'colors-and-fonts' as style;
@use 'nav-and-footer';

.contact-us {

    &__container {
        display: flex;
    flex-direction: column;

    background: url("../images/background-contact-us.jpg") no-repeat center fixed;
    background-color: black;

    width: 100%;
    height: 100vh;
    }

}

main {
    display: flex;
    justify-content: center;
    font-family: style.$main-font;
}

.main {

    &__container {
        display: flex;
    justify-content: space-evenly;
    max-width: 1257px;
    width: 100%;
    min-height: 780px;
    }
}
