.topic_gallery {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container_gallery {
  height: 250px;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

#green_1:hover {
  border: 5px solid #14F25D;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#green_2:hover {
  border: 5px solid #14F25D;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#green_3:hover {
  border: 5px solid #14F25D;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#green_4:hover {
  border: 5px solid #14F25D;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}