.landing-page__container {
    background: url("../images/tea-high-contrast.png") no-repeat center fixed;
    background-color: black;

    width: 100%;
    height: 100vh;
    background-size: cover;
}

.nav-bar__container {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-bar__container ul {
    display: flex;
    flex-wrap: nowrap;

    justify-content: center;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: inline;


    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;

    margin-right: 1.5em;

    text-decoration: none;
    color: #14F25D;
}

.nav-bar__links {
    opacity: 100%;
}

.nav-links--no-margins {
    margin-right: 0px;
}

.landing-page__header {
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 84px;
    font-weight: 600;

    color: #14F25D;
    text-align: center;
}